# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.factorypath
.project

# Visual Studio Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Java
*.class

# Maven
target/
.mvn/

# Spring Boot
log/
logs/
*.log
